:root {
    --bg-main: #FFFFFF;     
    --bg-panel: #F8F9FA;    
    

    --accent-warm: #4ADE80;  
    --accent-gold: #38BDF8;  
    

    --text-primary: #334155; 
    --text-dim: #64748B;    
    
    --border-notr: #E2E8F0; 
}